SITE=jib.blueapi.ir
DOCS_SITE=docs.blueapi.ir
SSL_EMAIL=sarmad.afzali@gmail.com

DB_ROOT_USER=root
DB_ROOT_PASS=Aa1KF7u2PNIT2kxg

DB_NAME=_3fafc1f37307d24b
DB_USER=babyblue
DB_PASS=Aa1KF7u2PNIT2kxg

ADMIN_PASS=adminpass123

FRAPPE_USER=frappe
BENCH_HOME=/home/frappe/frappe-bench

ENCRYPTION_KEY=68cdf54732146c4a4c31cce3730272215dc75dfdfc64f9249f7d606bd45aa370

DOCS_ROOT=/srv/bluedoc