SITE=baba.NEW-DOMAIN.ir
DOCS_SITE=docs.NEW-DOMAIN.ir
SSL_EMAIL=you@example.com

DB_ROOT_USER=root
DB_ROOT_PASS=CHANGE_ME_DB_ROOT

DB_NAME=babyblue
DB_USER=babyblue
DB_PASS=CHANGE_ME_DB

ADMIN_PASS=CHANGE_ME_ADMIN

FRAPPE_USER=frappe
BENCH_HOME=/home/frappe/frappe-bench

ENCRYPTION_KEY=PASTE_FROM_SOURCE_SITE_CONFIG

DOCS_ROOT=/srv/bluedoc
